RewriteEngine On

RewriteRule ^login$            pages/auth/login.php

RewriteRule ^$                           pages/orcamentos/list.php
RewriteRule ^home$                       pages/orcamentos/list.php
RewriteRule ^orcamentos$                 pages/orcamentos/list.php
RewriteRule ^orcamentos/cadastrar$       pages/orcamentos/create.php
RewriteRule ^orcamentos/editar/(.*)$     pages/orcamentos/edit.php?id=$1

## LOJAS

RewriteRule ^lojas/cadastrar/(.*)$      pages/lojas/create.php?id=$1
RewriteRule ^lojas/editar/(.*)$         pages/lojas/edit.php?id=$1

RewriteRule ^lojas/acessar/(.*)$        pages/grupos/list.php?id=$1

## GRUPOS

RewriteRule ^grupos/cadastrar/(.*)$      pages/grupos/create.php?id=$1
RewriteRule ^grupos/editar/(.*)$         pages/grupos/edit.php?id=$1

RewriteRule ^grupos/acessar/(.*)$        pages/sorteios/list.php?id=$1

## SORTEIOS

RewriteRule ^sorteios/cadastrar/(.*)$      pages/sorteios/create.php?id=$1
RewriteRule ^sorteios/editar/(.*)$         pages/sorteios/edit.php?id=$1
RewriteRule ^sorteios/acessar/(.*)$        pages/premios/list.php?id=$1


## SORTEIOS

RewriteRule ^premios/cadastrar/(.*)$      pages/premios/create.php?id=$1
RewriteRule ^premios/editar/(.*)$         pages/premios/edit.php?id=$1



<IfModule pagespeed_module>
    ModPagespeed off
</IfModule>

